.home-page header{
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(../utils/ajithsir/l-5\ copy.png);
}

header{
    background-size: cover;
    background-position:center;
    position: relative;
}
header h1{
    font-size: 5rem;
}
.home-page header h1,
.home-page header h2{
    /* text-shadow: 2px 2px 8px #ffffff; */
    color: white;
}

.light-yellow-bg{
   background-color: #f8df89;
}

#aboutUs{
    display: flex;
    align-items: center;
    justify-content: center;
}
#aboutUs p{
    line-height: 30px;
}
#wannaBuy{
    padding-right: 50px;
    padding-left: 50px;
}
#wanna{
     background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url(../utils/ajithsir/Desktop\ -\ 1.jpg);
     background-size: cover;
     background-position:center;
}
.menu-section{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../utils/ajithsir/food-p.jpg);
    background-size: cover;
    background-position: center;
}

img{
    border-style: solid;
    border-width: 5px;
}

/* enquire button ring animation */

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonRing {
  background: linear-gradient(90deg, #efd133 0%, #efd133 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 8px 8px 20px #efd133;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  }

.buttonRing::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(200px + 8px);
  min-height: calc(40px + 8px);
  border: 4px solid #efd133;
  box-shadow: 0 0 60px #efd133;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.buttonRing:hover, .buttonRing:focus {
  transform: translateY(-6px);
  color: black;
}


.buttonRing::after {
  content: '';
  width: 20px; height: 20px;
  border-radius: 100%;
  border: 4px solid #efd133;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}
#FontYellow
{
  color: #efd133;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 180px;
    height: 180px;
    opacity: 0;
  }
}
/* cup animation */
.cup {
  height: 200px;
  width: 200px;
  border: 10px solid #030303;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 80%;
  left: 50%;
  border-radius: 20px 20px 60px 60px;
  background: url("../utils//images/coffee-img-1.svg"), url("../utils//images/coffee-img-2.svg");
  background-position: 0 0, 0 0;
  background-repeat: repeat-x;
  animation: coffee 4s infinite linear;
}
@keyframes coffee {
  100% {
    background-position: -100% 0, -100% 0;
  }
}
.cup:before {
  content: "";
  position: absolute;
  height: 80px;
  width: 60px;
  border: 10px solid #030303;
  border-left: none;
  right: -75px;
  top: 30px;
  border-radius: 0 30px 80px 0;
}
.cup:after {
  position: absolute;
  content: "";
  height: 10px;
  width: 300px;
  background-color: #030303;
  left: -45px;
  bottom: -10px;
  border-radius: 10px;
}
.bubble {
  height: 15px;
  width: 15px;
  background-color: #fbbe08;
  border-radius: 50%;
  position: absolute;
  animation: bubbles forwards infinite;
  opacity: 0.6;
}
@keyframes bubbles {
  100% {
    transform: translateY(-150px);
    opacity: 0;
  }
}
.bubble-1 {
  left: 30px;
  bottom: 10px;
  animation-delay: 0.5s;
  animation-duration: 3s;
}
.bubble-2 {
  left: 80px;
  bottom: 35px;
  animation-delay: 1.2s;
  animation-duration: 4s;
}
.bubble-3 {
  left: 140px;
  bottom: 30px;
  animation-duration: 4s;
}

@media only screen and (max-width:768px){
    header h1{
        font-style: 4rem;
    }
}
@media only screen and (max-width:576px){
    header h1{
        font-style: 3rem;
    }
}
/* text animation */
.content{
            position: relative;
        }
        .content h1{
            position: absolute;
            transform: translate(-50%,-50%);
        }
        .content h1:nth-child(1){
          color: white;
          /* -webkit-text-stroke: 2px ; */
        }
        .content h1:nth-child(2){
          color:#bc8b46;
          animation: animate 4s ease-in-out infinite;
        }
        @keyframes animate {
            0%,100%{
                clip-path: polygon(0% 45%,15% 44%, 32% 50%,54% 60%,70% 61%,84% 59%,100% 52%,100% 100%,0% 100%);
            }
            50%{
                clip-path: polygon(0% 60%,16% 65%, 34% 66%,51% 62%,67% 50%,84% 45%,100% 56%,100% 100%,0% 100%);
            }
        }
 /* vapour */
 .vapour{
            position: relative;
            display: flex;
            z-index: 1;
            padding: 0 20px;
        }
        .vapour span{
            position: relative;
            right: 140px;
            bottom: 50px;
            display: block;
            margin:0 2px 50px;
            min-width: 8px;
            height: 120px;
            background: #fff;
            border-radius: 50%;
            animation: animate2 5s linear infinite;
            opacity: 0;
            filter: blur(8px);
            animation-delay:calc(var(--i)* -0.5s) ;
        }
        @keyframes animate2 {
            0%{
                transform: translateY(0) scaleX(1);
                opacity: 0;
            }
            15%{
                opacity: 1;
            }
            50%{
                transform: translateY(-150px) scaleX(5);
            }
            95%{
                opacity: 0;
            }
            100%{
                transform: translateY(-300px) scaleX(10);
            }
        }